*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: rgb(138, 198, 198);
    width: .60rem;
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(8, 88, 88);
    border-radius: .5rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(2, 49, 49);
}

html{
    scroll-behavior: smooth;
}


.head{
    background-color: rgb(233, 248, 248);
    display: flex;
    justify-content: center;
    gap: 15vw;
    position: fixed;
    top:0;
    width: 100vw;
    padding:1.1vw;
    z-index:999;
    box-shadow: .25px .2px 2px .3px rgb(154, 244, 244) ;
}

.head nav ul{
    display: flex;
    gap: 2vw;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

ul li a{
    font-size: .9vw;
    font-weight: 700;
    transition: .5s;
}


ul li a:hover{
    display: inline;
    color: rgb(203, 127, 35);
    text-decoration:  5px underline;
}

.head .consultation{
    background-color: rgb(49, 48, 48);
    color: white;
    padding:.6vw;
    font-size:.6vw;
    font-weight: 900;
    border-radius: .4vw;
    transition: .3s;
}

.head .consultation a{
    color: white;
}
.head .consultation:hover{
    transform: scale(1.05);
}

.start{
    font-size: 1vw;

}
    


.search input{
    border: none;
    outline: none;
    font-size: .8vw;
    border-radius: .8vw;
    padding: .3vw;
    text-align: center;
    font-weight: 700;
}

main{
    width: 100vw;
    padding-top: .3vw;
    
}

.home{
    position: relative;
    top: 3.4vw;
    /* border-radius:1.2vw; */
    /* height: 100vh; */
    overflow-y: hidden;
    margin-bottom:2vw;

}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
    text-align: center;
    background-color: rgb(136, 244, 244);

}
.text{
    position: relative;
    bottom:8vw;
    font-size:2vw;
    overflow-y: hidden;
}
.text a{
    color:rgb(91, 80, 80);
    letter-spacing: .2vw;
    font-weight: 600;

}

.text h4{
    font-weight: 600;
    color: rgb(91, 80, 80);
    letter-spacing: .2vw;
}



.image img{
    height: 35vh;
    opacity:.5;
    position: relative;
    top: 3vw;
}

.txt{
    position: relative;
    top:5vw;
    /* left: 25vw; */
    width: 100vw;
    display: flex;
    gap:1vw;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.txt .summary{
    width:40vw;
    position: relative;
    bottom:6vw;
    display: flex;
    flex-direction: column;
    gap:1vw;
}

.txt img{
    width: 40vw;
}

.txt .featured{
    font-size: 2vw;
    font-weight: 500;

}
.txt h3{
    font-size: 3vw;
}

.txt h2{
    font-size: 2vw;
}


.btn{
    padding:.8vw;
    font-size: 1.3vw;
    border-radius:.5vw;
    width: 15vw;
    background-color: rgb(179, 244, 244);
    font-weight: 500;
    position: relative;
    left: 60vw;
    bottom:5vw;
    transition: 1s;
    cursor: pointer;
    border: none;
}

.home button:hover{
    transform: scale(1.1);
    background-color: rgb(125, 243, 243);
    bottom: 5.5vw;
    box-shadow: 0 0 3px 1.5px rgb(41, 78, 78);

}

.about{
    padding-left: 5vw;
    padding: 5vw;
    position: relative;
    top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5vw;
}
.about h3{
    font-size: 2.5vw;
}

.aboutSummary{
    width: 35vw;
    font-size: 1.2vw;
    text-align: center;
}

.about .container{
    display: flex;
    gap:2vw;
}

.second img{
    width: 40vw;
}

.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    border-radius: .7vw;
    font-size:1.2vw;
    font-weight: 600;
    padding: .5vw;
    background-color: rgb(234, 240, 247);
    transition: .5s;
    cursor: pointer;

}

.box:hover{
    transform: scale(1.1);
    background-color: rgb(50, 249, 219);

}

.box:hover .blue{
    color: white;

}

.first,.third{
    display: flex;
    flex-direction: column;
    gap:7vw;
    overflow-y: hidden;
}

.blue{
    color: rgb(4, 158, 158);
    font-weight: 900;
    font-size: 1.8vw;
}

.success{
    padding-top: 5vw;
}
.successCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:4vw;
    padding-top: 3vw;
    /* width: 50vw; */
}

.firstCont{
    border: 1px solid;
    text-align: center;
    position: relative;
    height: 15vw;
    overflow-y: hidden;
    border-radius: 2vw;
    box-shadow: 0 0 0 .5px rgb(177, 223, 243);

}
.firstCont img{
    width: 15vw;
    height: 15vw;
}



.up{
    position: relative;
    top: -10vw;
    opacity: 0;
    width: 25vw;
    height: 20vw;
    transition: .8s;
    background-color: rgb(46, 84, 84);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 1vw; */
}


.firstCont a{
    position: relative;
    z-index: 999;
    font-size:1.5vw;
    color: rgb(46, 84, 84);
    bottom: 7vw;
    left: .5vw;
    cursor: pointer; 
}

.firstCont:hover{
    box-shadow: 0 0 10px 5px rgb(194, 239, 239);

}

.firstCont:hover .up{
    top: -16vw;
    opacity: 1;
    color: white;
}
.up h3{
    position: relative;
    top: -2vw;
}

.contact{
    margin-bottom:10vw ;

}

.contact h2{
    font-size: 2.5vw;
    width: 35vw;
    text-align: center;
    padding-bottom: .1vw;
    font-weight: 900;
    letter-spacing: .2vw;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.nameE{
    display: flex;
    gap: 1vw;
}

.contact input,textarea{
    border: none;
    background-color: rgb(238, 244, 250);
    border-radius:.5vw;
    padding: 1.5vw;
    font-size: 1.2vw;

}
.inputs button{
    background-color:  rgb(180, 247, 247);
    width: 10vw;
    padding:1vw;
    border-radius: .5vw;
    font-size: 1.4vw;
    margin-bottom: 5vw;
    border: none;
    cursor: pointer;
    transition: .5s;
    position: relative;
    left: .5vw;
}

.inputs button:hover{
    transform: scale(1.1);
    background-color:rgb(68, 239, 239) ;
    /* box-shadow: 0 0 3px 1.5px rgb(11, 41, 41); */

}


footer{
    background-color: rgb(136, 244, 244);
    height: 43vw;
    padding-left: 1vw;
    padding-right: 1.7vw;
    /* padding: 4vw; */
}

.fContainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10vw;
    height: 15vw;
}

.symbol h2{
    height:3vw;
    width: 3vw;
    border-radius: 50%;
    background-color: rgb(233, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8vw;
}

.symbol{
    width: 23vw;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    cursor: pointer;
    padding: 1vw;
    border-radius: .2vw;

}
.symText{
    display: flex;
    align-items: center;
    gap:1.2vw;
}

.symText h5{
    font-size:.7vw;
}

.symbol h6{
    color: #959090;
    font-size: 1vw;
}

.mail,.number{
    border-radius: .2vw;
    background-color: rgb(233, 248, 248);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 2vw 3vw 2vw 3vw;
    color: rgb(60, 70, 79);
    box-shadow: 0 0 .1px .1px rgb(215, 220, 220);
   
}

.hover{
     cursor: pointer;
    position: relative;
    transition: 1s ease-in-out;
}

.hover:hover{
    box-shadow: 0 0 3px 1.5px rgb(11, 41, 41);
    transform: scale(1.2);
}

.fContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 248, 248);
    padding: 4vw;
    gap: 3vw;
    
}
.sub h2{
    font-size: 2vw;
    font-weight: 600;
}

.Subsearch input{
    border-radius: .5vw;
    padding: 1vw;
    width: 15vw;
    border: .2px solid;
    background-color: rgb(233, 248, 248);
}

.Subsearch{
    display: flex;
    gap: 2vw;
}
.Subsearch button{
    padding:.8vw;
    font-size: 1.3vw;
    border-radius:.5vw;
    width: 15vw;
    background-color: rgb(146, 245, 245);
    font-weight: 500;
    transition:.3s;
    cursor: pointer;
    border: none;

}

.Subsearch button:hover{
    background-color: rgb(54, 224, 224);
}

.fContainer3{
    display: flex;
    justify-content: center;
    gap: 7vw;
    padding-top: 3vw;
}

.lastBox{
    width: 20vw;
    height: 12vw;
    background-color:rgb(233, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    border-radius: .7vw;
    cursor: pointer;
}

.last h4{
    color: rgb(143, 158, 132);
    font-weight: 500;
}
.last ul li{
    padding-bottom:.5vw ;
    font-size: 1.5vw;
}
.last ul li a{
    font-size: .9vw;
}

.last ul li a:hover{
    text-decoration: none;
}


.partners img{
    width: 100vw;
}

.cards{
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 248, 248);
    /* padding: 2vw; */
    padding-top: 2vw;
    padding: 2vw;
    margin: 0 auto;
    position: absolute;
    top: 245vw;
    left: 6vw;
    border-radius: .2vw;
    gap: 2vw;
}

.card{
    background-color:rgb(146, 245, 245);
    width: 15vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    /* from { left: 0; }
    to { left: 100vw; } */
    0%{left :100vw}
    25%{left: 75vw;}
    50%{left: 50vw;}
    75%{left: 25vw;}
    100%{left: 0;}
  }

 