*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: rgb(138, 198, 198);
    width: .60rem;
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(8, 88, 88);
    border-radius: .5rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(2, 49, 49);
}

html{
    scroll-behavior: smooth;
}


.head{
    background-color: rgb(233, 248, 248);
    display: flex;
    justify-content: center;
    gap: 15vw;
    position: fixed;
    top:0;
    width: 100vw;
    padding:.9vw;
    z-index:999;
    box-shadow: .25px .2px 2px .3px rgb(154, 244, 244) ;
}

.head nav ul{
    display: flex;
    gap: 2vw;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

ul li a{
    font-size: .8vw;
    font-weight: 700;
    transition: .5s;
}


ul li a:hover{
    display: inline;
    color: rgb(203, 127, 35);
    text-decoration: underline;
    transform: scale(1.1);
}

.head .consultation{
    background-color: rgb(49, 48, 48);
    color: white;
    padding:.6vw;
    font-size:.5vw;
    font-weight: 900;
    border-radius: .4vw;
    transition: .3s;
}

.head .consultation a{
    color: white;
}
.head .consultation:hover{
    transform: scale(1.05);
}

.start{
    font-size: .9vw;

}
    


.search input{
    border: none;
    outline: none;
    font-size: .75vw;
    border-radius: .8vw;
    padding: .3vw;
    text-align: center;
    font-weight: 700;
}

main{
    width: 100vw;
    padding-top: .3vw;
    
}

.home{
    position: relative;
    top: 3.4vw;
    /* border-radius:1.2vw; */
    /* height: 100vh; */
    overflow-y: hidden;
    height: 100vh;

}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
    text-align: center;
    background-color: rgba(156, 153, 149, 0.516);

}
.text{
    position: relative;
    bottom:8vw;
    font-size:2vw;
    overflow-y: hidden;
}
.text a{
    color:white;
    letter-spacing: .2vw;

}

.text h4{
    font-weight: 300;
    color: white;
    letter-spacing: .2vw;
}



.image img{
    height: 35vh;
    opacity:.9;
    position: relative;
    top: 3vw;
}

.txt{
    position: relative;
    top:5vw;
    /* left: 25vw; */
    width: 100vw;
    display: flex;
    gap:1vw;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.txt .summary{
    width:40vw;
    position: relative;
    bottom:6vw;
    display: flex;
    flex-direction: column;
    gap:1vw;
}

.txt img{
    width: 40vw;
}

.txt .featured{
    font-size: 2vw;
    font-weight: 500;

}
.txt h3{
    font-size: 3vw;
}

.txt h2{
    font-size: 2vw;
}


.home button{
    padding:.8vw;
    font-size: 1.3vw;
    border-radius:.5vw;
    width: 15vw;
    background-color: rgb(197, 247, 247);
    font-weight: 500;
    position: relative;
    left: 60vw;
    bottom:5vw;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.home button:hover{
    transform: scale(1.1);
    background-color: rgb(125, 243, 243);
    bottom: 5.5vw;
}

.about{
    padding-left: 5vw;
    padding: 5vw;
    position: relative;
    top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5vw;
}
.about h3{
    font-size: 2.5vw;
}

.aboutSummary{
    width: 35vw;
    font-size: 1.2vw;
    text-align: center;
}

.about .container{
    display: flex;
    gap:2vw;
}

.second img{
    width: 40vw;
}

.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    border-radius: .7vw;
    font-size:1.2vw;
    font-weight: 600;
    padding: .5vw;
    background-color: rgb(234, 240, 247);
    transition: .5s;
    cursor: pointer;
}

.box:hover{
    transform: scale(1.1);
    background-color: rgb(50, 249, 219);
}

.box:hover .blue{
    color: white;

}

.first,.third{
    display: flex;
    flex-direction: column;
    gap:7vw;
    overflow-y: hidden;
}

.blue{
    color: rgb(4, 158, 158);
    font-weight: 900;
    font-size: 1.8vw;
}

.success{
    padding-top: 5vw;
}
.successCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5vw;
    padding-top: 3vw;
    /* width: 50vw; */
}

.firstCont{
    border: 1px solid black;
    text-align: center;
    position: relative;
    height: 15vw;
    overflow-y: hidden;
    border-radius: 2vw;
    box-shadow: 0 0 0 .5px rgb(177, 223, 243);

}
.firstCont img{
    width: 15vw;
    height: 15vw;
}

.up{
    position: relative;
    top: -10vw;
    opacity: 0;
    width: 20vw;
    height: 20vw;
    transition: .7s;
    background-color: rgb(46, 84, 84);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 1vw; */
}

.firstCont:hover .up{
    top: -16vw;
    opacity: 1;
    color: white;
}
.up h3{
    position: relative;
    top: -2vw;
}

.contact{
    margin-bottom:10vw ;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.nameE{
    display: flex;
    gap: 1vw;
}

.contact input,textarea{
    border: none;
    background-color: rgb(238, 244, 250);
    border-radius:.5vw;
    padding: 1.5vw;
    font-size: 1.2vw;
}
.inputs button{
    background-color:  rgb(180, 247, 247);
    width: 10vw;
    padding:1vw;
    border-radius: .5vw;
    font-size: 1.4vw;
    margin-bottom: 5vw;
    border: none;
    cursor: pointer;
    transition: .5s;
    position: relative;
    left: .5vw;
}

.inputs button:hover{
    transform: scale(1.1);
    background-color:rgb(68, 239, 239) ;
}


footer{
    background-color: rgb(136, 244, 244);
    height: 40vw;
}